doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1")
    title New 11ty Project
    script(src="bundle.js")
    link(rel="stylesheet" href="main.css")
  body
    h1 Hello World
